*{
box-sizing: border-box;
}
.App{
display:flex !important;
height:100vh;

}

.Right{
 padding: 0 20px; 
 padding-top: 80px;

}
.Left{
  display:flex;
  flex:1;
  padding-top:20px;
  justify-content: center;
}
.Homepage{
  align-items: center;
  min-width:65%;
  display:flex;
  flex-direction: column;
  color:white;
}

.weather-logo img{
  height: auto;
  width:120px;

}
.log {
  background-color: black;
  display:inline-block;
  width:300px;
  padding:20px 10px;
  padding-bottom: 50px;
  color:white;
}


.search-bar input{
 
  width:100%;
}

.weather-logo{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.search-weather-btn{

  margin-top: 10px;
}