



.form-group .container input{
 
  
  width: 45%;
  color: black;
  margin:300px auto;
  left:0px;
  height: 35px !important;
  position: absolute;
  font-size: 18px;
}
/*

.form-group{
  
  
  
}

*/

  
  
  




 .click-me .search-b input {
  height: 45px !important;
  border: transparent;
  margin:320px auto;
  left:490px;
  width:120px;
  border-radius: 10px;
  position: relative;
  
}

